[mysqld]

# INNODB #
innodb-flush-method            = O_DIRECT
innodb-log-files-in-group      = 2
innodb-log-file-size           = 128M
innodb-flush-log-at-trx-commit = 1
innodb-file-per-table          = 1
innodb-buffer-pool-size        = 2G

# CACHES AND LIMITS #
tmp-table-size                 = 96M
max-heap-table-size            = 96M
query-cache-type               = 0
query-cache-size               = 0
max-connections                = 500
thread-cache-size              = 50
open-files-limit               = 65535
table-definition-cache         = 1024
table-open-cache               = 2048


slow_query_log = 1
slow_query_log_file = /var/log/slow-query.log
long_query_time = 1
